@model IEnumerable<PlattProject.ViewModels.BestCustomerVm>

<h3>Best Customers</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Number Of Orders
            </th>
            <th>
                Total Spent
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfOrders)
            </td>
            <td>
               $@Html.DisplayFor(modelItem => item.AmountSpent).00
            </td>
        </tr>
}
    </tbody>
</table>
