@model IEnumerable<PlattProject.ViewModels.BestCustomerVm>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfOrders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountSpent)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfOrders)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountSpent)
            </td>
        </tr>
}
    </tbody>
</table>
