@model IEnumerable<PlattProject.ViewModels.ItemsSoldVm>

<h3>Top Selling Items</h3>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    Number Sold
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Cost).00
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberSold)
            </td>
        </tr>
}
    </tbody>
</table>
